@font-face {
    font-family: gameOver;
    src: url(../fonts/emulogic.ttf);
}

body {
	overflow: hidden;
	font-family: gameOver;
}
canvas {
	background-color: #f1f1f1;
	position: absolute;
    top: 0;
    left: 0;
}
.status{
	position: relative;
	top: 2vh;
	left: 5vh;
	width: 70vh;
	height: 20vh;
	/*background-color: rgba(255,255,255,0.5);*/
}
.block{
	position: relative;
	width: 100%;
	height: 50%;
}

.icon{
	position: relative;
	top: 0.5vh;
	height: 8.5vh;
	width: 1.8vh;
	margin-left: 0.5vh;
}

.dist{
	position: relative;
	font-family: gameOver;
	font-size: 3vh;
	color: white;
	left: 1vh;
}

.center{
	position: relative;
	left: 50%;
	top: 10%;
	width: 1vh;
	height: 1vh;
}
.context{
	position: absolute;
	left: -50vw;
	width: 100vw;
	top: 0;
	font-family: gameOver;
	font-size: 20vh;
	color: white;
	text-align: center;
    -webkit-text-stroke-width: 1vh;
   	-webkit-text-stroke-color: black;
   	z-index: 15;
}
.show{
	position: absolute;
	left: -100vh;
	width: 200vh;
	top: 25vh;
	font-family: gameOver;
	font-size: 7vh;
	color: white;
	text-align: center;
    -webkit-text-stroke-width: 0.4vh;
   	-webkit-text-stroke-color: black;
   	z-index: 10;
}
.show.red{
	color: red;
}
.show.blue{
	color: blue;
}

.dimDisplay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	z-index: 5;
}

/************************************************************/

.personBox{
	position: relative;
	width: 	9vh;
	/*overflow: hidden;*/
	top: 0.5vh;
	margin: 0vh 0vh;
}
.personBox.red{
	background-color: #FF7F7F;
}
.personBox.blue{
	background-color: #7F7FFF;
}
.personPic{
	left: 1vh;
	width:  8vh;
	height: 8vh;
	border-radius: 100%;
	margin: 0 0.5vh;

	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	overflow: hidden;
	border: 0.4vh solid #fff;
}

.personName{    
	position: absolute;
    left: 0vh;
    width: 9vh;
    top: 6.5vh;
    height: 2vh;
    /*padding: 0 1vh;*/

    text-overflow: ellipsis;
    overflow: hidden;
	word-wrap:break-word;
	text-align: center;
	font-family: gameOver;
	font-size: 1.2vh;
	/*
    -webkit-text-stroke-width: 0.2vh;
   	-webkit-text-stroke-color: black;*/
	/*background-color: #fff;*/

	color: #fff;
}
.personName.red{
	background-color: #FF7F7F;
}
.personName.blue{
	background-color: #7F7FFF;
}

.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.closeleft{
	left: 0;
}
.closeright{
	right: 0;
}
