@font-face {
	font-family:"Continuum Bold";
	src: url("../fonts/contb.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: conBold;
    src: url(../fonts/contb.ttf);
}

body {
	overflow: hidden;
  	background-color: #efefef
}
.countdown{
	position: absolute;
	left: -10vh;
	width: 20vh;
	font-size: 18vh;
	bottom: 5vh;
	text-align: center;
	font-family: "Continuum Bold";
	color: white;
	z-index: 50;
   -webkit-text-stroke: 1vh #333;
}
.middleRow{
	position: absolute;
	height: 100vh;
	left: 50vw;
}
.middleRow .content{
	position: absolute;
	top: 23.5vh;
	left: -25vw;
	font-family: "Continuum Bold";
	text-align: center;
	font-weight: bold;
	font-size: 5vh;
	color: black;
	width: 50vw;
	height: 15vh;
	background: rgba(128, 128, 128,0.5);
	z-index: -1;
}

.underRow{
	position: absolute;
	height: 100vh;
	z-index: 10;
}

.underRow .left{
	position: fixed;
	bottom: 0vh;
	width: 170vh;
	height: 10vh;
	background-image: url('../img/result/player_tab.png');
	background-size: 100% 100%;
	z-index: -5;
}

.underRow .center{
	position: fixed;
	bottom: 13vh;
	width: 100%;
	text-align: center;
	height: 10vh;
}
.underRow .center h1{
	font-family: Continuum Bold;
	font-size: 5vh;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;

}

.left .pl_logo{

	position: fixed;
	bottom: 0vh;
	width: 25vh;
	height: 7vh;
	margin-left: 1vw;
	margin-bottom: 1vh;
	background-image: url('../img/result/partylink_logo.png');
	background-size: 100% 100%;
	z-index: 1;
}

.teamName{
	position: absolute;
	color: #ffffff;
	font-family: Continuum Bold;
	font-size: 7vh;
	text-align: center;
	width: 100%;
	margin: 10vh 0;
}
.score{
	font-size: 16vh;
}

div.box{
	position: absolute;
	height: 42vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -10;
}
div.box.inLeft{
	top: 5vh;
	left: 8vw;
	width: 36vw;
	background-image: url("../img/result/red_bg.png");
}
div.box.inRight{
	bottom: 0vh;
	right: 8vw;
	width: 33vw;
	background-image: url("../img/result/blue_bg.png");
}

div.pic{
	position: absolute;
	top: 23vh;
	height: 65vh;
	width: 13vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 5;

    
}
div.pic.inLeft{
	left: 18vw;
	background-image: url("../img/result/red.png");
}
div.pic.inRight{
	right: 18vw;
	background-image: url("../img/result/blue.png");
}	

.topRow{
	position: absolute;
	left: 50vw;
	height: 100vh;
	z-index: -1;
}
.topRow .center{
	position: absolute;
	top: 3vh;
	width: 160vh;
	height: 45vh;
	left: -80vh;

	font-family: Continuum Bold;
	font-size: 15vh;
	font-weight: bold;
	text-align: center;

}

.headertextBox{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 1;
}
.headertext{
	color: white;
	background-color: gray;
	font-size: 8vh;
	font-family: cursive;
	white-space: pre-wrap;
	
}
.showbox{
	position: absolute;
	top: 15%;
	width: 90%;
	height: 55%;
	text-align: center;
}
.showPersonBox{
	width: 30vh;
	height: 40vh;
	bottom: 0;
	margin: auto;
	/*overflow: hidden;*/
	text-align: center;
	font-family: cursive;
	font-size: 6vh;
	font-weight: bolder;
}
.showPersonPic{
	width: 	100%;
	height: 75%;
	border-radius: 100%;
	
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	overflow: hidden;
	border: 0.5vh solid gray;
}

.personPic{
	width: 	15vh;
	height: 15vh;
	border-radius: 100%;
	

	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	overflow: hidden;
	border: 0.5vh solid gray;
}
.personRow{
	position: absolute;
	bottom: 0;
	margin: 2vh 5vh;

}
.personBox{
	width: 	15vh;
	height: 20vh;
	/*overflow: hidden;*/
	margin: 2vh;
	text-align: center;
	font-family: Arial;
	font-size: 3vh;
}
.personName{
	display: inline-block !important;
	word-wrap:break-word;
	margin-top:1vh;
	width:8.5vw;
	height: 5vh;
	padding: 1vh;
	font-size: 3vh;
  	text-overflow: ellipsis;
  	overflow: hidden;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.closeleft{
	left: 0;
}
.closeright{
	right: 0;
}
